@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    font-size: 13px;
    font-family: Barlow Semi Condensed;
    margin: 50px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(210, 46%, 95%);
}

.grid-container {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: 270px 270px 270px 270px;
}

.testimonial {
    border-radius: 10px;
    padding: 20px;
}

.multi-column {
    grid-column: span 2;
}

.multi-row {
    grid-row: span 2;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.verified {
    opacity: 50%;
}

.review {
    opacity: 70%;
}

.grey {
    color: hsl(217, 19%, 35%);
}

.attribution {
    font-size: 11px;
    text-align: right;
    color: black;
    padding: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 800px) {
    body {
        margin: 20px;
    }

    .grid-container {
        grid-template-columns: 350px;
    }

    .multi-column {
        grid-column: span 1;
    }
    
    .multi-row {
        grid-row: span 1;
    }

    .attribution {
        padding: 10px;
    }
}